@layout MainLayout
@page "/auth/addblog"

<h3>AddBlog</h3>

<MudTextField T="string" Label="Title" Variant="Variant.Outlined" Class="my-6"></MudTextField>
<MudTextField T="string" Label="Subject" Variant="Variant.Outlined" Class="my-6"></MudTextField>
<MudTextField T="string" Label="Category" Variant="Variant.Outlined" Class="my-6"></MudTextField>
<MudTextField T="string" Label="Tags" Variant="Variant.Outlined" Class="my-6"></MudTextField>
<MudTextField T="string" Label="Description" Variant="Variant.Outlined" Class="my-6"></MudTextField>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/dashboard" Size="Size.Large" FullWidth="true">
    Save
</MudButton>

@code {

}
