@using AQBlog.Shared
@using System.Threading
@inject IFrontService frontService

<MudText Typo="Typo.h5"> Categories</MudText>
<MudDivider Class="mt-2" />
@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudNavMenu>
        @foreach (var cat in categories)
        {
            <MudNavLink Href="@($"/category/{cat.Id}/{cat.Slug}")">
                <MudText Typo="Typo.subtitle1">@cat.CategoryName </MudText>
            </MudNavLink>
            <MudDivider />
        }
    </MudNavMenu>

}

@code {
    private List<CategoryMetaData> categories;

    protected override async Task OnInitializedAsync()
    {
        var details = await frontService.GetCategory();
        categories = details;
    }
}
